.login button {
    background-color: rgba(57, 162, 237);
    color: rgba(255, 255, 255);
    margin-top: 20px;
}

.inputField {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}
.inputField input {
    border: 2px solid rgba(180, 180, 180);
    border-radius: 5px;
    font-size: 1.5rem;
}

.errLabel {
    color: rgba(255, 20, 20);
}
